#heading {
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
  font-size: 35px;
  margin-left: 550px;
}
#tagline {
  font-size: 20px;
  margin-left: 480px;
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
}

.outer {
  width: 100%;

  display: flex;
  position: relative;
  -webkit-box-pack: start;
  justify-content: flex-start;
  background-color: transparent;
  overflow-x: auto;
  background-color: lightcoral;
  font-size: 20px;
  color: white;
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
}

#inner-1 {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 30px;
  margin-left: 160px;

  padding: 12px;
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
  font-size: 20px;
}
#localfood {
  margin: 30px;
  padding-left: 23%;
}
#receipe {
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
  font-size: 18px;
  margin-left: 30%;
}
#footer {
  font-size: 19px;
  margin-left: 20px;
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
  color: black;
  padding: 1px;
}
